@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  /* monochrome colors */
  --color-monoc-50:  #e0e0e0;
  --color-monoc-100: #cfcfcf;
  --color-monoc-200: #b1b1b1;
  --color-monoc-300: #8f8f8f;
  --color-monoc-400: #6f6f6f;
  --color-monoc-500: #545454;
  --color-monoc-600: #3f3f3f;
  --color-monoc-700: #2e2e2e;
  --color-monoc-800: #1e1e1e;
  --color-monoc-900: #121212;
  --color-monoc-950: #080808;  
  
}

:root {
  --ui-primary: black;
  --ui-bg: white;
}

.dark {
  --ui-primary: white;
  --ui-bg: black;
}